<div class="hero bg-offwhite_color min-h-screen">
    <div class="hero-content text-center -mt-16">
      <div class="max-w-lg">
        <h1 class="text-6xl font-bold neuton-bold">Share Your Wisdom, Discover New Perspectives</h1>
        <p class="py-6 text-lg">
            Join a community of thinkers and creators. Share what you know, learn from others, and inspire change with every article you write.
        </p>
        <a class="btn bg-primary_color text-offwhite_color hover:text-primary_color hover:bg-accent_color font-bold !imporntant">Become an author</a>
      </div>
    </div>
</div>