<div class="hero bg-offwhite_color min-h-screen">
    <div class="hero-content text-center -mt-16">
      <div class="max-w-lg">
        <h1 class="text-6xl font-bold neuton-bold">Share Your Wisdom, Discover New Perspectives</h1>
        <p class="py-6 text-lg">
            Join a community of thinkers and creators. Share what you know, learn from others, and inspire change with every article you write.
        </p>
        <app-become-author-btn></app-become-author-btn>
        you have account ? <a routerLink="/login">Login</a>
      </div>
    </div>
</div>