<div class="bg-offwhite_color py-10 px-16" *ngIf="author">
    <!-- Author Information Section -->
    <div class="grid gap-y-1">
      <img src="assets/avatars/avatar_blue.png" class="w-30 h-30 rounded-lg">
      <h1 class="neuton-extrabold text-4xl">{{ author.firstName }} {{ author.lastName }}</h1>
      <span class="font-bold"><span class="text-orange_color">{{ author.topics.length }}</span> Followers</span>
      <p class="my-2 text-lg">{{ author.bio }}</p>
    </div>
  
    <!-- Tabs Section -->
    <!-- <div role="tablist" class="tabs-boxed bg-[#fff] w-fit my-5">
      <a class="tab active-tab" routerLink="articles" routerLinkActive="active-tab">Articles</a>
      <a class="tab" routerLink="about" routerLinkActive="active-tab">About</a>
      <a class="tab" routerLink="settings" routerLinkActive="active-tab">Settings</a>
    </div> -->

    <button class="btn btn-error" *ngIf="isItMe()" (click)="logout()">Logout</button>
  
    <!-- Articles Section -->
    <div>
      <div
        class="card bg-base-100 w-full border-2 border-transparent hover:border-primary_color cursor-pointer relative overflow-hidden mb-3"
        *ngFor="let article of articles"
        (click)="viewArticle(article._id)"
      >
        <div class="card-body py-2 px-3">
          <h2 class="card-title">{{ article.title }}</h2>
          <p>{{ article.description }}</p>
          <div>
            <span>
              Author: 
              <span class="italic font-semibold capitalize">
                {{ article.author.firstName }} {{ article.author.lastName }}
              </span>
            </span>
          </div>
          <div>
            <span>{{ article.createdTime | date }}</span>
          </div>
          <div class="my-2">
            <span class="font-semibold">Topics:</span>
            <div class="flex flex-wrap gap-2 mt-1">
              <span
                *ngFor="let topic of article.topics"
                class="bg-gray-200 px-2 py-1 rounded-full text-sm"
              >
                {{ topic }}
              </span>
            </div>
          </div>
          <div
            class="flex justify-center items-center absolute bottom-0 right-0 w-10 h-10 bg-primary_color text-offwhite_color hover:bg-accent_color hover:text-primary_color rounded-tl-md"
          >
            <fa-icon [icon]="faArrow" class="text-lg"></fa-icon>
          </div>
        </div>
      </div>
    </div>
</div>    
  