/* You can add global styles to this file, and also import other style files */
/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary_color: "#292524"; /* Main text and primary color */
    --light_color: "#F0EFEB"; /* Light background color */
    --accent_color: "#FFD700"; /* Highlight or accent color */
    --orange_color: "#FF4500"; /* Button color */
    --secondary_color: "#5C5C5C"; /* Secondary text color */
    --offwhite_color: "rgb(240, 239, 235)" /* Border color for elements */
}

.neuton-extralight {
    font-family: "Neuton", serif;
    font-weight: 200;
    font-style: normal;
}
  
.neuton-light {
    font-family: "Neuton", serif;
    font-weight: 300;
    font-style: normal;
}

.neuton-regular {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
}

.neuton-bold {
    font-family: "Neuton", serif;
    font-weight: 700;
    font-style: normal;
}

.neuton-extrabold {
    font-family: "Neuton", serif;
    font-weight: 800;
    font-style: normal;
}

.neuton-regular-italic {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: italic;
}
  

body {
    background-color: var(--orange_color);
    min-height: 100vh;
}